{{yield}}
<h2>{{project.title}}</h2>

<p>Technologies: {{project-technologies project.technologies}} - {{project.technologies}}</p>

<p><img src={{project.image}} alt={{project.type}} width="100%"></p>
<a href={{project.link}}>Show Project</a>
