{{yield}}
<h2>{{project.title}}</h2>
<p>Owner: {{project.owner}}</p>
<p>Type: {{project.type}}</p>
<p>Location: {{project.city}}</p>
<p>Number of bedrooms: {{project.bedrooms}}</p>
<p><img src={{project.image}} alt={{project.type}} width="500"></p>
